<a href="https://colab.research.google.com/github/bhardwajshivam/Optimizing-Order-Execution-Strategy-for-HFT/blob/main/Data_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (0.2.20)
Requirement already satisfied: pytz>=2022.5 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (2023.3)
Requirement already satisfied: lxml>=4.9.1 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (4.9.2)
Requirement already satisfied: numpy>=1.16.5 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (1.25.1)
Requirement already satisfied: pandas>=1.3.0 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (2.0.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: multitasking>=0.0.7 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: appdirs>=1.4.4 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: html5lib>=1.1 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (1.1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: cryptography>=3.3.2 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (41.0.1)
Requirement already satisfied: requests>=2.26 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.2.1)
Requirement already satisfied: cffi>=1.12 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: pycparser in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.20)
Requirement already satisfied: six>=1.9 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: pytz>=2022.5 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from yfinance) (1.25.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.9 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shivambhardwaj/opt/miniconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2023.5.7)

In [2]:
import yfinance as yf

def collect_stock_data(symbol, start_date, end_date):
    """
    Collects historical stock price data for a given symbol and date range.

    Parameters:
        symbol (str): The stock symbol (e.g., AAPL for Apple Inc.).
        start_date (str): The start date in the format 'YYYY-MM-DD'.
        end_date (str): The end date in the format 'YYYY-MM-DD'.

    Returns:
        pandas.DataFrame: DataFrame containing historical stock price data.
    """
    try:
        # Fetch historical data from Yahoo Finance API
        stock_data = yf.download(symbol, start=start_date, end=end_date)
        return stock_data
    except Exception as e:
        print(f"Error: Unable to fetch data for {symbol}. Error Message: {str(e)}")
        return None

# Example usage:
symbol = "AAPL"
start_date = "2023-01-01"
end_date = "2023-08-01"

stock_data = collect_stock_data(symbol, start_date, end_date)

[*********************100%***********************]  1 of 1 completed

In [3]:
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.538658,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.823189,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.488869,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.069336,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.597076,70790800

In [4]:
data = stock_data[['Open','Close']]
data

                  Open       Close
Date
2023-01-03  130.279999  125.070000
2023-01-04  126.889999  126.360001
2023-01-05  127.129997  125.019997
2023-01-06  126.010002  129.619995
2023-01-09  130.470001  130.149994
...                ...         ...
2023-07-25  193.330002  193.619995
2023-07-26  193.669998  194.500000
2023-07-27  196.020004  193.220001
2023-07-28  194.669998  195.830002
2023-07-31  196.059998  196.449997

[144 rows x 2 columns]

In [ ]:
import matplotlib.pyplot as plt